body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(130, 206, 219), rgb(0, 119, 255));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(178, 240, 128);
    background-color: rgb(187, 173, 173);
    color: rgb(191, 240, 128);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
